{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="banner-v2 ">
  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'banner' %}
        <div class="banner-v2--wrapper">
          <img src="{{ block.settings.img | image_url }}" alt="">
        </div>
       
    {% endcase %}
  {% endfor %}
  <div class="page-width section-{{ section.id }}-padding">
    <div class="bottom-content--wrapper">
      <div class="left-content">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'left-image' %}
              <img src="{{ block.settings.left-img | image_url }}" alt="">
          {% endcase %}
        {% endfor %}
      </div>
      <div class="right-content">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'heading' %}
             <h1 class="title"> {{ block.settings.heading }} </h1>
             {% when 'text' %}
             <div class="description"> {{ block.settings.text }}</div>
          {% endcase %}  
        {% endfor %}
      </div>
    </div>
  </div>
    
</section>



{% schema %} 
{
  "name": "Banner v2",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
   
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        }
       
      ]
    }, 
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        }
       
      ]
    },
    {
        "type": "left-image",
        "name": "Left Image",
        "limit": 1,
        "settings": [
        {      
            "type": "image_picker",
            "id": "left-img",
            "label": "Banner Image"
            
        }
        ]     
    },
    {
        "type": "banner",
        "name": "Banner",
        "limit": 1,
        "settings": [
        {      
            "type": "image_picker",
            "id": "img",
            "label": "Banner Image"
            
        }
        ]     
    }
    
 
  ],
  "presets": [
    {
      "name": "Banner v2",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
   
      ]
    }
  ]
}
{% endschema %}
