{% style %}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.59 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.59 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<section class="text-with-column__section section-{{ section.id }}-padding">
    <div class="page-width">
        <div class="text-width-column__wrapper">
            <div class="header-box">
                <h2 class="{{ section.settings.heading_size }} text-color--deep_purple">{{ section.settings.heading }}</h2>
            </div>
            <div class="content-wrapper grid grid--1-col grid--2-col-tablet grid--3-col-desktop">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'column' %}
                            <div class="grid__item content-box ">
                                <img src="{{ block.settings.block_image | image_url }}" alt="">
                                <div class="text-box">
                                    <h2 class="{{ block.settings.block_heading_size }} text-color--deep_purple title-case">{{ block.settings.block_heading }}</h2>
                                    <span class="text-color--deep_purple">
                                        {{ block.settings.block_text }}
                                    </span>
                                </div>
                            </div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Text with Column",
    "settings": [
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
                {
                    "value": "h3",
                    "label": "t:sections.all.heading_size.options__1.label"
                },
                {
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__2.label"
                },
                {
                    "value": "h1",
                    "label": "t:sections.all.heading_size.options__3.label"
                }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 110
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 110
        }
    ],
    
    "blocks": [
        {
            "type": "column",
            "name": "Column",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "block_image",
                    "label": "Image Logo"
                },
                {
                    "type": "inline_richtext",
                    "id": "block_heading",
                    "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
                },
                {
                    "type": "select",
                    "id": "block_heading_size",
                    "options": [
                        {
                            "value": "h6",
                            "label": "t:sections.all.heading_size.options__1.label"
                        },
                        {
                            "value": "h5",
                            "label": "t:sections.all.heading_size.options__2.label"
                        },
                        {
                            "value": "h4",
                            "label": "t:sections.all.heading_size.options__3.label"
                        }
                    ],
                    "default": "h5",
                    "label": "t:sections.all.heading_size.label"
                },
                {
                    "type": "richtext",  
                    "id": "block_text",
                    "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
                    "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Text with Column"
        }
    ]
}
{% endschema %}